<div class="profile__card">
  <div class="profile__card--cover-image">
    <img src="../../assets/images/codingtitan.png" alt="cover image">
  </div>
  <div class="profile__user--avatar">
    <img src="../../assets/images/madhu.jpg" alt="Madhusudhan">
  </div>
  <div class="profile__info">
    <h2 class="profile__user--full-name">Madhusudhan R</h2>
    <p class="profile__user-name">@itsmadhusudhan</p>
  </div>

  <div class="profile__user-info">
      <div class="profile__user--tweets-count">
        <a href="{{userInfo.username}}">Tweets</a>
        <p class="count">{{userInfo.tweets}} </p>
      </div>
      <div class="profile__user--following-count">
        <a href="{{userInfo.username}}/following">Following</a>
        <p class="count">{{userInfo.following}}</p>
      </div>
      <div class="profile__user--followers-count">
        <a href="{{userInfo.username}}/followers">Followers</a>
        <p class="count">{{userInfo.followers}} </p>
      </div>
  </div>

</div>