<div class="profile__card">
  <div class="profile__card--cover-image">
    <img src="../../assets/images/codingtitan.png" alt="cover image">
  </div>
  <div class="profile__user--avatar">
    <img src="../../assets/images/madhu.jpg" alt="Madhusudhan">
  </div>
  <div class="profile__info">
    <h2 class="profile__user--full-name">Madhusudhan R</h2>
    <p class="profile__user-name">@itsmadhusudhan</p>
  </div>

  <div class="profile__user-info">
      <div class="profile__user--tweets-count">
        <p>Tweets</p>
        <p class="count">65</p>
      </div>
      <div class="profile__user--following-count">
        <p>Following</p>
        <p class="count">51</p>
      </div>
      <div class="profile__user--followers-count">
        <p>Followers</p>
        <p class="count">20</p>
      </div>
  </div>

</div>