.twitter__copyright{
  background:#fff;
  padding: 15px 10px 10px 15px;
  line-height: 18px;
}

.icon{
  font-size:12px;
}

.twitter__copyright--info, span{
  display: inline-block;
  font-size: 12px;
  padding-right: 4px;
  color: #0b3c49;
}

.twitter__copyright--info:hover{
  text-decoration: underline;
}