<div class="newtweet">
  <div class="user__avatar">
    <img src="../../assets//images/madhu.jpg" alt="Madhusudhan">
  </div>
  <!-- <button class="newtweet__photo--content">
    <i class="fa fa-image"></i>
  </button> -->
  <div class="newtweet__photoselector">
    <label for="media" class="photo__label">
      <span>
        <i class="fa fa-image"></i>
      </span>
      <input id="media" type="file" name="media[]" accept="image/gif,image/jpg,image/png,image/jpeg,video/mp4" multiple class="file__input"
        title="Add photos and videos" />
    </label>
  </div>

  <div class="newtweet__container">
    <form class="newtweet__form newtweet__form--condensed" method="" data-condense-text="What's happening?">
      <div class="newtweet__box--container">
        <div class="newtweet__box" contenteditable="true" role="textbox" data-placeholder-default="What's happening?" aria-multiline="true">
          <div>What's happening?</div>
        </div>
      </div>
    </form>

    <div class="tweetbox__toolbar">
      <div class="navbar">
        <div class="navbar__start">
          <label for="media--button" class="add__photo navbar__item">
            <span>
              <i class="fa fa-image icon"></i>
            </span>
            <input id="media--button" type="file" name="media[]" accept="image/gif,image/jpg,image/png,image/jpeg,video/mp4" multiple
              class="file__input--button" title="Add photos and videos" />
          </label>
          <label class="add__photo navbar__item">
            <span>
              <i class="fa fa-upload icon"></i>
            </span>
          </label>
          <label class="add__photo navbar__item">
            <span>
              <i class="fas fa-chart-bar icon"></i>
            </span>
          </label>
          <label class="add__photo navbar__item">
            <span>
              <i class="fas fa-map-marker-alt icon"></i>
            </span>
          </label>

        </div>
        <div class="navbar__end">
          <div class="navbar__item plus nav__end--item">
            <i class="fas fa-plus icon"></i>
          </div>

          <p class=" navbar__item nav__end--item">
            <a href="" class="button button--tweet-small">
              <span>Tweet</span>
            </a>
          </p>
        </div>
      </div>
    </div>


  </div>

</div>