<div class="your__trends">
  <h3 class="your__trends--title">Trends For you
    <a href="/">Change</a>
  </h3>
  <ul class="twitter__trend--items">
    <li class="twitter__trend--tag">
      <a href="" class="twitter__trend--tag-link">
        <span>#FrontendDevelopment</span>
        <div class="twitter__trend--tag-stats">65k Tweets</div>
      </a>
    </li>
    <li class="twitter__trend--tag">
      <a href="" class="twitter__trend--tag-link">
        <span>#100DaysOfCode</span>
        <div class="twitter__trend--tag-stats">5k Tweets</div>
      </a>
    </li>
    <li class="twitter__trend--tag">
      <a href="" class="twitter__trend--tag-link">
        <span>#Reactjs</span>
        <div class="twitter__trend--tag-stats">85k Tweets</div>
      </a>
    </li>
    <li class="twitter__trend--tag">
      <a href="" class="twitter__trend--tag-link">
        <span>#Angular4</span>
        <div class="twitter__trend--tag-stats">40k Tweets</div>
      </a>
    </li>
    <li class="twitter__trend--tag">
      <a href="" class="twitter__trend--tag-link">
        <span>#CSS3</span>
        <div class="twitter__trend--tag-stats">5k Tweets</div>
      </a>
    </li>
  </ul>
</div>