<div class="moments__navbar--container navbar--fixed">
  <nav class="navbar">

    <div class="navbar__menu">

      <div class="navbar__start">

        <a routerLink="" class="navbar__item menu__link navbar__item__active  ">
          Today
        </a>

        <a routerLink="moments" class="navbar__item menu__link ">
          News
        </a>

        <a routerLink="notifications" class="navbar__item menu__link ">
          Sports
        </a>

        <a routerLink="messages" class="navbar__item">
          Entertainment
        </a>

        <a routerLink="messages" class="navbar__item">
          Fun
        </a>

      </div>


      <div class="navbar__end">

        <p class=" navbar__item nav__end--item">
          <a href="" class="button button--tweet">
            <span>Create New Moment</span>
          </a>
        </p>

      </div>
      <!-- navbar end ends -->
    </div>
    <!-- menu ends -->
  </nav>
  <!-- navbar ends -->
</div>