<div class="notification__container">
  <div class="notification__header">
    <div class="header__start">
      <a href="" class="header__item">All</a>
      <a href="" class="header__item">Mentions</a>
    </div>
    <div class="header__end">
      <a href="" class="header__item">Settings</a>
    </div>
  </div>
  <!-- notification header ends -->
  <div class="notification__content">
    <div class="notification__content--header">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
      <img src="../../assets/images/madhu.jpg" alt="itsmadhusudhan" class="notification__image--small">
      <div class="notification__actions">
        <div class="notification__actions--dropdown">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="notification__content--text">
      <p>Hello world, This is just a sample tweet for testing the tweet component. it seems it's just working fine as expected
        #angular #javascript #typescript</p>
    </div>

  </div>

  <div class="notification__content">
    <div class="notification__content--header">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
      <img src="../../assets/images/madhu.jpg" alt="itsmadhusudhan" class="notification__image--small">
      <div class="notification__actions">
        <div class="notification__actions--dropdown">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="notification__content--text">
      <p>Hello world, This is just a sample tweet for testing the tweet component. it seems it's just working fine as expected
        #angular #javascript #typescript</p>
    </div>

  </div>

  <div class="notification__content">
    <div class="notification__content--header">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
      <img src="../../assets/images/madhu.jpg" alt="itsmadhusudhan" class="notification__image--small">
      <div class="notification__actions">
        <div class="notification__actions--dropdown">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="notification__content--text">
      <p>Hello world, This is just a sample tweet for testing the tweet component. it seems it's just working fine as expected
        #angular #javascript #typescript</p>
    </div>

  </div>

  <div class="notification__content">
    <div class="notification__content--header">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
      <img src="../../assets/images/madhu.jpg" alt="itsmadhusudhan" class="notification__image--small">
      <div class="notification__actions">
        <div class="notification__actions--dropdown">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="notification__content--text">
      <p>Hello world, This is just a sample tweet for testing the tweet component. it seems it's just working fine as expected
        #angular #javascript #typescript</p>
    </div>

  </div>

  <div class="notification__content">
    <div class="notification__content--header">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
      <img src="../../assets/images/madhu.jpg" alt="itsmadhusudhan" class="notification__image--small">
      <div class="notification__actions">
        <div class="notification__actions--dropdown">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="notification__content--text">
      <p>Hello world, This is just a sample tweet for testing the tweet component. it seems it's just working fine as expected
        #angular #javascript #typescript</p>
    </div>

  </div>
</div>