.userprofile{
  
}

.profile__container{
  margin-top: -40px;
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 290px 1fr 290px;
  grid-gap: 20px;
}

.twitter__container--right{
  margin-top: -10px;

}